<section class="panel panel-default clearfix">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-user-secret"></i>&nbsp;&nbsp;About Gary Traffanstedt</h3>
  </div>
  <p class="profile">
    <img class="profile" src="/images/profile.jpeg">
    A former and apsiring web programmer who is often rambling incessantly about Ruby on
    Rails, Javascript, and other things nobody else cares about. This blog takes place between the past and the present. Posts occur in real time.
  </p>
</section>
