<section class="panel panel-default clearfix">
  <div class="panel-heading">
    <h3 class="panel-title">About Gary Traffanstedt</h3>
  </div>
  <p class="profile">
    <img class="profile" src="https://pbs.twimg.com/profile_images/513531246316904448/uv-jL6ND.jpeg">
    I am Gary Traffanstedt, a former and apsiring web programmer. On this site you can find my ramblings about Ruby on
    Rails, Javascript, and other things I find interesting on my adventure to hone my skills and re-enter the world of
    code poetry.
  </p>
</section>
