{% if site.github_user %}
<section class="panel panel-default clearfix">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-1_2x fa-github"></i>&nbsp;&nbsp;GitHub Repos</h3>
  </div>
  <div class="list-group" id="gh_repos">
    <a class="list-group-item" href="https://github.com/blimey85/blimey85.github.io">blimey85.github.io<br>
      <span class="repo_description">Blog @ Traffan.com</span></a>
    <a class="list-group-item" href="https://github.com/blimey85/blimey85.github.io_source">blimey85.github.io_source<br>
      <span class="repo_description">Source code for Traffan.com.</span></a>
    <a class="list-group-item" href="https://github.com/blimey85/octopress-tapir">octopress-tapir<br>
      <span class="repo_description">Plugin to enable Tapir search with Octopress blogs.</span></a>
    <a class="list-group-item" href="https://github.com/blimey85/try_git">try_git<br><span class="repo_description"></span></a>
  </div>
  <div class="gh-profile-link pull-right text-muted">
    <a href="https://github.com/blimey85">@blimey85</a> on GitHub
  </div>
</section>
{% endif %}
