.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-tags:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-pencil-square-o:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}
