<span class="social-icons">
  <a class="fa-twitter-cont" href="https://twitter.com/blimey85"><i class="fa fa-1_6x fa-twitter"></i></a>
  <a class="fa-facebook-cont"href="https://www.facebook.com/blimey85"><i class="fa fa-1_6x fa-facebook"></i></a>
  <a class="fa-skype-cont"href="skype:blimey85?call"><i class="fa fa-1_6x fa-skype"></i></a>
  <a class="fa-pinterest-cont"href="https://www.pinterest.com/blimey85/"><i class="fa fa-1_6x fa-pinterest"></i></a>
  <a class="fa-instagram-cont"href="https://instagram.com/blimey85/"><i class="fa fa-1_6x fa-instagram"></i></a>
  <a class="fa-dribbble-cont"href="https://dribbble.com/blimey85"><i class="fa fa-1_6x fa-dribbble"></i></a>
  <a class="fa-github-cont"href="https://github.com/blimey85"><i class="fa fa-1_6x fa-github"></i></a>
  <a class="fa-spotify-cont"href="https://spotify.com/blimey85"><i class="fa fa-1_6x fa-spotify"></i></a>
  <a class="fa-rss-cont"href="/atom.xml"><i class="fa fa-1_6x fa-rss"></i></a>
</span>