{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}

  <h2>{{ date | date: "%Y" }}</h2>
{% endunless %}

  <article>
    <h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
    <footer>
      <span class="categories">{% include post/categories.html %} {% include post/tags.html %}</span>
    </footer>
  </article>
