/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
  height: 60px;
}
footer .container {
  text-align: center;
}

header.page-header {
  margin-top: 0;
}

article.post {
  margin-bottom: 40px;
}

hr {
  margin-top: 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #337ab7, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #337ab7, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), #337ab7, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), #337ab7, rgba(0, 0, 0, 0));
}

.come-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  -moz-animation: fadein 1; /* Firefox */
  -webkit-animation: fadein ease-in  1; /* Safari and Chrome */
  -o-animation: fadein ease-in  1; /* Opera */

  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;

  animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
}

.already-visible {
  opacity: 1;
  animation: none;
  -moz-animation: none; /* Firefox */
  -webkit-animation: none; /* Safari and Chrome */
  -o-animation: none; /* Opera */
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.post_meta {
  display: table;
  width: 100%;
  ul {
    display: table-row;
    margin-bottom: -10px;
    li {
      display: table-cell;
      width: 33%;
      &.time {
        text-align: left;
      }
      &.categories {
        text-align: center;
      }
      &.tags {
        text-align: right;
      }
    }
  }
}

@media (max-width: 500px) {
  .post_meta {
    display: table;
    width: 100%;
    ul {
      display: block;
      margin-bottom: -10px;
      li {
        display: table-row;
        &.time {
          text-align: left;
        }
        &.categories {
          text-align: left;
        }
        &.tags {
          text-align: left;
        }
      }
    }
  }
}
